<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <img src="/img/abide-banner.png" alt="Abide Week" style="border: 0; width: 100%; max-width: 400px;">
    <h2>Abide Week</h2>
    <p>The week of January 10th &mdash; 16th we will be taking time as a church body to rest in the Lord and refocus our attention on Him. Morning Lauds (morning prayers) will be from 6 AM &mdash; 6:45 AM each morning and Evensongs (evening services) will be from 6:30 PM &mdash; 7:30 PM each evening. Childcare is provided. <strong>On Friday January 15th dinner will be provided for a time a fellowship at 5:30 PM.</strong>  During this week no ministries of the church will be meeting. </p>
    <p><strong>Childcare will be provided every night for kids 1st grade and below.</strong></p>
    <p>&nbsp;</p>
    <h3>Friday Dinner Sign Up</h3>
    <p>We ask that you please sign up by Thursday (January 14th) if you plan on attending the Friday night (January 15th) dinner.  Please <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=75" target="_blank">click here</a> in order to register for this event.</p>
    <p>&nbsp;</p>
    <h3>Abide Week Packet</h3>
    <p>Follow along with us using our Abide Week packet.  You can <a href="/docs/AbideWeek2016.pdf" target="_blank">click here</a> to download this document.</p>
</section>