<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <h2>Administrative Assistant</h2>
    <h3>Job Requirements</h3>
    <p>
        CrossRoads Church is in the process of hiring an Administrative Assistant who will be the hub of communication and daily operations for the church.  This position requires a high degree of clerical and office management skills. He/she will be responsible for carrying out the day-to-day administrative and staff support functions by working with church members, ministry leaders, and staff to achieve the church’s mission and objectives.  
    </p>
    <p>
        See the link below to get more details about this opening.  All applications are due by June 5th and should be emailed to <strong><a href="mailto:clark@crossroadsnorfolk.com">clark@crossroadsnorfolk.com</a></strong> with your resume, work history and three references (personal, ministry and professional).
    </p>
    <p><a href="/docs/AdministrativeAssistantJobDescription.pdf" target="_blank" style="font-size: 110%;"><span class="icon">&#xf019;</span> Download the job description &gt;</a></p>
</section>