<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <img src="/img/beach-baptism-banner.png" alt="Mercy and Justice" style="width: 100%; max-width: 500px; border: 0;">
    <br><br>
    <h2>Beach Baptism</h2>
    <p>Sunday, June 26th, at 4 PM we will be at Linda Crabtree’s house in Oceanview. Bring your bathing suit, sunscreen, and a side to share! The main dish of chicken will be provided. If you are interested in being baptized please fill out the form on CCB homepage or come to the baptism interest meeting on June 12th.</p>
    <p>Register for this event using this link: <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=91" target="_blank">https://crcnorfolk.ccbchurch.com/form_response.php?id=91</a></p>
</section>