<a href="/" id="logo-mobile"><img src="/img/logo-blue-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <img src="/img/crc-campus.png" alt="CRC Campus" style="width: 100%; max-width: 300px; border: 0;">
    <br><br>
    <p>
        CrossRoads Church is located a 1/2 mile away from ODU campus. We have worship services at 9 AM and 11 AM with a coffeehouse 30 minutes before each service.
    </p>
    <p>&nbsp;</p>
    <h3>ODUrides</h3>
    <p>
        We provide a van pick-up/drop-off service for the students at ODU. A van will pick up students on campus and return them after service. The pick-up times and locations are listed below.
    </p>
    <p>
        10:25 AM - The Inn<br>
        10:30 AM - Whitehurst (right out front)<br>
        10:33 AM - Powhatan Parking Lot<br>
        10:35 AM - Quad (on 49th street in front of Dominion House)<br>
        10:40 AM - Gresham and Rogers (right outside entrance to Gresham on 49th)
    </p>
    <p>&nbsp;</p>
    <h3>College Cookout at Pastor Kevin’s House</h3>
    <p>
        Join us for a great time of fellowship on September 4th for a casual cookout at 5:30 PM. The address is 7541 Hughart St., Norfolk, VA 23505. Come out and enjoy some FREE food!
    </p>
    <p>For additional questions or information please contact Nicki Kristol (<a href="mailto:nicole.kristol@gmail.com">nicole.kristol@gmail.com</a>).</p>
</section>