<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <img src="/img/thecampcontinued-banner-2.png" alt="The Camp Continued" style="width: 100%; max-width: 400px; border: 0;">
    <br><br>
    <h2>theCamp Continued</h2>

    <p>Join us every Thursday afternoon, beginning July 7th, from 12:30-4pm at Ghent Elementary School (200 Shirley Avenue Norfolk, VA 23517). We will be taking 3rd-5th graders from Tidewater Park Elementary on field trips around the Hampton Roads Area. This is a great way to continue the relationships we have formed at TheCamp! Click on this link to sign up (<a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=99" target="_blank">https://crcnorfolk.ccbchurch.com/form_response.php?id=99</a>).</p>
</section>