<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <h2>CrossRoads Cares</h2>
    <p>CrossRoads Cares is a ministry designed to help raise awareness to and meet the needs of the CrossRoads community.  We believe that our community has the skills and availability to help each other out in times of need.  CrossRoads Cares will try to connect our members to needs.</p>
    <p>&nbsp;</p>
    <h4>Get Connected</h4>
    <p>If you have availability, skills, resources or a servant's heart, we would like to hear from you!  You don't have to be a tradesperson to help others.  We will look for opportunities for you to meet real needs within our community.  Please email <a href="mailto:crcnorfolkcares@gmail.com">crcnorfolkcares@gmail.com</a> to help make us aware of how you can help.</p>
    <p>&nbsp;</p>
    <h4>Opportunities</h4>
    <p>Caring opportunities will be posted on our <a href="https://twitter.com/crcnorfolkcares" target="_blank">Twitter account</a> which is shown below.  Watching our feed will keep you updated with the latest needs in the church.  If you are aware of a caring opportunity, please email <a href="mailto:crcnorfolkcares@gmail.com">crcnorfolkcares@gmail.com</a> or tweet to <a href="https://twitter.com/crcnorfolkcares" target="_blank">@CRCNorfolkCares</a>.</p>
    <p>&nbsp;</p>
    <a class="twitter-timeline"  href="https://twitter.com/crcnorfolkcares" data-widget-id="569490597510402048">Tweets by @crcnorfolkcares</a>
</section>