<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <h2>Children's Director</h2>
    <h3>Job Requirements</h3>
    <p>
        CrossRoads Church is currently looking to hire a Children's Director who will oversee the children’s ministry strategy of the church. This will require a firm grasp of the beliefs, values and strategy of CrossRoads and the ability to align key leadership teams and volunteers with our mission, vision and values.
    </p>
    <p>
        See the link below to get more details about this opening.  All applications should be emailed to <strong><a href="mailto:crcnorfolkjobs@gmail.com">crcnorfolkjobs@gmail.com</a></strong> with your resume, work history and three references (personal, ministry and professional).
    </p>
    <p><a href="/docs/ChildrensDirectorJobDescription.pdf" target="_blank" style="font-size: 110%;"><span class="icon">&#xf019;</span> Download the job description &gt;</a></p>
</section>