<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <!--<img src="/img/daddy-daughter-banner.png" alt="Mercy and Justice" style="width: 100%; max-width: 500px; border: 0;">
    <br><br>-->
    <h2>Fairy Tale Daddy Daughter Dance</h2>
    <p>Dads take your sweet daughters for a night out on June 17th from 6 - 8 PM. The theme is “Fairy Tale” so come dressed to impress. Dinner is provided and dancing is required.</p>
    <p>Use the following link to view more event details: <strong><a href="/docs/dance.pdf" target="_blank">Daddy Daughter Dance Flyer</a></strong></p>
    <p>Use the following link to register for this event: <strong><a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=95" target="_blank">https://crcnorfolk.ccbchurch.com/form_response.php?id=95</a></strong></p>
</section>