<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <h2>Daddy Daughter Dance</h2>
    <table>
        <tr>
            <td class="danceLabel"><small>DATE &amp; TIME</small></td>
            <td><strong>May 31st</strong> at <strong>5:30PM</strong></td>
        </tr>
        <tr>
            <td class="danceLabel"><small>LOCATION</small></td>
            <td><a href="http://maps.google.com/?q=1127%Surrey%Crescent%Norfolk%VA%23508" target="_blank">1127 Surrey Crescent</a></td>
        </tr>
        <tr>
            <td class="danceLabel"><small>COST</small></td>
            <td>
                <strong>$25</strong> per daddy/daughter couple<br>
                <strong>$5</strong> for each additional daugther
            </td>
        </tr>
        <tr>
            <td class="danceLabel"><small>ADDITIONAL DETAILS</small></td>
            <td>Evening includes dinner, dancing and fun!</td>
        </tr>
        <tr>
            <td class="danceLabel"><small>FLYER</small></td>
            <td><a href="/docs/dance.pdf" target="_blank">Click here to download flyer.</a></td>
        </tr>
    </table>
    <p style="font-size: 110%;"><strong><a href="http://www.eventbrite.com/o/crossroads-church-6636435121?s=25370613" target="_blank">Click here to register by May 28</a></strong></p>
    <p style="padding-top: 25px;">Please <a href="mailto:events@crossroadsnorfolk.com?subject=Daddy Daughter Dance">email us</a> if you have any questions about this event!</p>
</section>