<section style="padding: 25px; padding-top: 0;">
    <img src="/img/easter-page-banner.png" alt="Easter Sunday" style="width:100%; max-width: 457px; border: 0;">
</section>
<section class="alternate">
    <h2>Easter Eggstravaganza</h2>
    <p><strong>Saturday April 19th, 10:30am - 12:30pm</strong> at Bolling Ave Park</p>
    <p>Family picnic, games and egg hunt.  Bring your own lunch!</p>
</section>
<section>
    <h2>Easter Services</h2>
    <p><strong>Sunday April 20th, 9:00am AND 11:00am</strong> at CrossRoads Church</p>
    <p>Refuel Coffeehouse opens at 8:30am</p>
    <p>Free Easter portraits will be taken as a gift to you!</p>
    <p><strong>All visitors are encouraged to park in front of the church.</strong></p>
</section>