<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
	<img src="/img/easter-banner-2016.jpg" alt="Easter Sunday" style="width:100%; max-width: 450px; border: 0; margin-bottom: 25px;">
	<section>
	    <h2>Prayer Night</h2>
	    <p><strong>Tuesday, March 22nd from 7pm - 8pm</strong> at CrossRoads Church. We will gather together to pray for people by name and for the service in general.</p>
	</section>
	<p>&nbsp;</p>
	<section class="alternate">
	    <h2>Good Friday Service</h2>
	    <p><strong>Friday, March 25th from 6:30pm - 8pm</strong> at CrossRoads Church.</p>
	</section>
	<p>&nbsp;</p>
	<section>
	    <h2>Easter Eggstravaganza</h2>
	    <p><strong>Saturday, March 26th from 10:30am - 12:30pm</strong> at Bluestone Park.</p>
	    <p>Come and enjoy an egg hunt, bounce house, games, egg dying, and fun with friends! Bring a picnic lunch for the whole family, blankets and/or lawn chairs. </p>
	</section>
	<p>&nbsp;</p>
	<section class="alternate">
	    <h2>Easter Services</h2>
	    <p><strong>Sunday, March 27th from  9am and 11am</strong> at CrossRoads Church.</p>
	    <p>Refuel Coffeehouse opens at 8:30am.  <strong>All visitors are encouraged to park in front of the church</strong>.  Off site parking will be provided at Larchmont Elementary School.</p>
	</section>
</section>
