<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <img src="/img/entrusted-page-banner.png" style="width: 100%; max-width: 400px; border: 0;">
    <br><br>

    <h2>November 18 - 19, 2016</h2>
    <p>
        Use this link to register for the conference: <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=119" target="_blank">https://crcnorfolk.ccbchurch.com/form_response.php?id=119</a>.
    </p>
</section>
<section class="alternate">
    <h3>Is the Entrusted Conference for Me?</h3>
    <ul>
        <li>I'm curious about fostering or adopting</li>
        <li>I'm actively pursuing fostering or adoption</li>
        <li>I've been matched with a waiting child</li>
        <li>I'm a foster parent and/or have already adopted</li>
        <li>My friend/family has adopted and I want to better understand their journey</li>
    </ul>
</section>
<section>
    <h3>Cost</h3>
    <p>
        $30/individual<br>
        $50/couple
    </p>
    <p>&nbsp;</p>
    <h3>Main Session Topics:</h3>
    <ul>
        <li>THE BIBLE AND ADOPTION: why me?</li>
        <li>A FAMILY UNITED: when adoption is our mission</li>
        <li>CONFLICTED IDENTITY: your past doesn't define you, but it's a part of who you are</li>
    </ul>
    <p>&nbsp;</p>
    <h3>Breakout Sessions:</h3>
    <ul>
        <li>Domestic Infant Adoption</li>
        <li>Foster Care/Adoption from Foster Care</li>
        <li>International Adoption</li>
        <li>Where Do I Start?</li>
        <li>Financing/Fundraising Ideas</li>
        <li>Navigating Open Adoption/Birth Families</li>
        <li>Special Needs Adoption</li>
        <li>When My Spouse Feels Called, but I'm Not There Yet</li>
        <li>Bringing Church Awareness</li>
        <li>Transracial Adoption</li>
        <li>Parenting After Adoption</li>
        <li>When Love Isn't Instant</li>
    </ul>
    <p>&nbsp;</p>
    <h3>Schedule</h3>
    <p><strong>Friday (November 18th)</strong></p>
    <table>
        <tr>
            <td>7 PM</td>
            <td>Worship and Welcome</td>
        </tr>
        <tr>
            <td>7:30 PM &nbsp;</td>
            <td>Main Session #1</td>
        </tr>
        <tr>
            <td>8:45 PM</td>
            <td>Breakout Session #1</td>
        </tr>
        <tr>
            <td>9:30 PM</td>
            <td>Dismiss</td>
        </tr>
    </table>
    <p><strong>Saturday (November 19th)</strong></p>
    <table>
        <tr>
            <td>9 AM</td>
            <td>Worship and Welcome</td>
        </tr>
        <tr>
            <td>9:30 AM</td>
            <td>Breakout Session #2</td>
        </tr>
        <tr>
            <td>10:15 AM &nbsp;</td>
            <td>Agency Exhibit/shopping</td>
        </tr>
        <tr>
            <td>11 AM</td>
            <td>Main Session #2</td>
        </tr>
        <tr>
            <td>12 PM</td>
            <td>Q&amp;A Panel/Lunch</td>
        </tr>
        <tr>
            <td>1:30 PM</td>
            <td>Breakout Session #3</td>
        </tr>
        <tr>
            <td>2:15 PM</td>
            <td>Main Session #3</td>
        </tr>
        <tr>
            <td>3:15 PM</td>
            <td>Dismiss</td>
        </tr>
    </table>
</section>
<section class="alternate">
    <h3>Kids Movie Night</h3>
    <p>
        There is a movie night option being offered at the church for ages 5+ on Friday night for an additional fee - $5/child or $15/family
    </p>
    <p style="font-style: italic;">* You must register for this event when you register for the conference.*</p>
</section>
<section>
    <h3>MAIN SESSION SPEAKERS</h3>
    <h4>Nick and Kristle Davis</h4>
    <img src="/img/DavisPhoto.png" style="width: 100%; max-width: 400px; border: 0;">
    <p>
        Kristle grew up to drug, alcohol and mentally affected parents. As the abuse in her family escalated, she sought help through the foster care system as a young teenager. Seven foster homes later, her forever family stepped in and dramatically changed her future.
    </p>
    <p>
        Nick, having had an “all American” childhood, met Kristle during their college years and they married in 2004. Nick and Kristle suffered 2 miscarriages before they were blessed with 2 biological children.
    </p>
    <p>
        After 10 years of engaging in a limited way, the Davises accepted their calling to foster care and adoption. They adopted a son in 2016 and use this story of coming full circle to establish church engagement in community outreach.
    </p>
    <p>
        Click <a href="https://vimeo.com/106782841" target="_blank"><strong>HERE</strong></a> to watch a video of Kristle sharing more of her journey through foster care.
    </p>
    <p>
        Use this link to register for the conference: <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=119" target="_blank">https://crcnorfolk.ccbchurch.com/form_response.php?id=119</a>.
    </p>
</section>