<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <h2>Administrative Pastor</h2>
    <h3>Job Requirements</h3>
    <p>
        CrossRoads Church is in the process of hiring an Administrative Pastor who will organize and lead our ministries.  See the link below to get more details about this opening.  All applications should be emailed to <strong><a href="mailto:crcnorfolkjobs@gmail.com">crcnorfolkjobs@gmail.com</a></strong> with the candidate's resume, work history and three references (personal, ministry and professional).
    </p>
    <p><strong><a href="/docs/AdministrativePastorJobDescription.pdf" target="_blank">Click here to view the job description.</a></strong></p>
</section>