<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <img src="/img/fall-festival-2016.png" alt="Fall Festival" style="width:100%; max-width: 240px; border: 0;">
    <br><br>
    <h2>Fall Festival</h2>
    <p>
        Crossroads Church Annual Fall Festival! <strong>Sunday, October 30th from 5-7pm</strong>! Fun for all ages!! Chili Cook Off, Cake Walk, Bounce House, Prizes, Games, Yummy Treats, Crafts, Dunk Tank, AND MORE!
    </p>
    <p>Costumes are welcome and encouraged! Please, nothing scary or inappropriate!</p>
    <p>
        If you are interested in registering to be a volunteer, bring chili to the chili cook, or bring a dessert for the cake walk please use this link: <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=109" target="_blank">https://crcnorfolk.ccbchurch.com/form_response.php?id=109</a>
    </p>
</section>