<section style="padding: 25px; padding-top: 0;">
    <img src="/img/fall-festival-banner.png" alt="Fall Festival" style="width:100%; max-width: 550px; border: 0;">
</section>
<section class="alternate">
    <h2>Fall Festival</h2>
    <h3>Games, Prizes, Bounce House &amp; Dinner Provided</h3>
    <p><strong>Sunday October 25th, 5PM - 7PM</strong></p>
    <p>For the first time this year, we will be having a Dunk Tank, Pie in the Face, Chili Cook Off and Pie Cook Off.  If you have any questions about this event or would like to get involved, please email Heather Stemler at <a href="mailto:heather@crossroadsnorfolk.com">heather@crossroadsnorfolk.com</a></p>
    <p>
    	Register for one, or all, of our events using the following links:<br>
    	<ul>
    		<li><a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=65" target="_blank">Pie Bake Off</a></li>
    		<li><a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=66" target="_blank">Chili Cook Off</a></li>
    		<li><a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=67" target="_blank">Cake Walk</a></li>
    	</ul>
    </p>
</section>