<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <img src="/img/fom-poster.png" alt="Family on Mission Conference" style="width: 100%; max-width: 464px; border: 0;">
    <br><br>
    <h2>Sign Up Now!</h2>
    <p>Please use our <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=57" target="_blank">online form</a> to register.  For more information, please contact Clark Taylor at <a href="mailto:clark@crossroadsnorfolk.com">clark@crossroadsnorfolk.com</a>.</p>
</section>