<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <img src="/img/Financial-Peace-University.jpg" alt="Dave Ramsey Financial Peace" style="width: 100%; max-width: 400px; border: 0;">
    <br><br>
    <h2>Financial Peace Class</h2>
    <p>
        This life-changing class taught by Dave Ramsey and the FPU teaching team on video will be coordinated by Jason Witt. It help you achieve your financial goals by showing you how to eliminate debt, save for the future, and give like never before!
    </p>
    <p>
        The class will be held during 2nd service for 9 weeks starting on September 25th. Please register in advance by September 18th. The cost is $75 per person. Scholarships are available upon request. Childcare is provided.
    </p>
    <p>
        Use this link to register: <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=115" target="_blank">https://crcnorfolk.ccbchurch.com/form_response.php?id=115</a>.
    </p>
</section>