<img src="/img/logo.png" alt="CrossRoads Church Norfolk" id="home-logo">
<div id="banners">
	<img src="/img/logo.png" alt="CrossRoads Church Norfolk">
	<a href="/3dm-conference"><img src="/img/3dm-banner-1.png" alt="Discipleship + Missions Conference"></a>
	<a href="/i-am-crossroads"><img src="/img/iAmBanner.png" alt="I Am CrossRoads"></a>
	<a href="/moms"><img src="/img/moms-banner.png" alt="CrossRoads Moms Group"></a>
	<a href="/learn/#/sermons"><img src="/img/podcast-banner.png" alt="CrossRoads Sermons"></a>
	<a href="https://crcnorfolk.ccbchurch.com/login.php" target="_blank"><img src="/img/ccb-home-banner.png" alt="Church Community Builder" id="ccb-banner"></a>
</div>
<h2 id="subheading">
	A vibrant church in Norfolk Virginia, CrossRoads is dedicated to furthering the Gospel of 
	Jesus Christ through a commitment to the <a href="/learn/#/mission">campus, community and world</a>. 
	We are comprised of people who want to see the city transformed by the love of God.  We believe that every journey has CrossRoads and that God has a plan for every life. Our focus isn't building a large organization, but seeing people become fully devoted followers of Christ.
</h2>
<div class="subcontent">
	<div class="blue">
		<div class="bar"></div>
		<h3>Learn</h3>
		<p>
			Are you looking for a different church experience?  CrossRoads is an inviting, yet 
			challenging church community that is unlike any other.  Find out what makes us different.<br><br>
			<a href="/learn">Learn <small>&gt;</small></a>
		</p>
	</div>
	<div class="green">
		<div class="bar"></div>
		<h3>Connect</h3>
		<p>
			Having a community of believers that you can journey through life with
			is extremely important.  Find out what it means to be a part of the CrossRoads community!<br><br>
			<a href="/connect">Connect <small>&gt;</small></a>
		</p>
	</div>
	<div class="orange">
		<div class="bar"></div>
		<h3>Find</h3>
		<p>
			CrossRoads is located in the Larchmont area of Norfolk, VA.  If you are interested
			in coming to any of our services or events, than you can use the link below for driving directions.<br><br>
			<a href="/find">Find <small>&gt;</small></a>
		</p>
	</div>
	<br class="clear">
	<br><br>
	<br><br>
</div>