<img src="/img/logo.png" alt="CrossRoads Church Norfolk" id="home-logo">
<div id="banners">
	<img src="/img/logo.png" alt="CrossRoads Church Norfolk">
	<!--<img src="/img/christmas-banner-2015.jpg" alt="CrossRoads 2015">-->
	<!--<a href="/justice-sunday"><img src="/img/justice-banner.png" alt="Justice Sunday"></a>-->
	<!--<a href="https://crcnorfolk.ccbchurch.com/w_give_online.php"><img src="/img/christmas-offering-banner.png" alt="Christmas 2015 Offering"></a>-->
	<a href="/abide"><img src="/img/abide-banner.png" alt="Abide Week"></a>
	<a href="/starting-point"><img src="/img/starting-point.png" alt="Starting Point"></a>
	<a href="/women"><img src="/img/CRwomen_banner.gif" alt="Women's Ministry"></a>
	<!--<img src="/img/daddy-dance-2015.png?1" alt="Daddy Daughter Dance">-->
	<!--<a href="/the-camp"><img src="/img/camp-banner.png" alt="The Camp"></a>-->
	<!--<a href="/easter"><img src="/img/easter2015.png" alt="Easter"></a>
	<a href="/connect/upside-down-christmas"><img src="/img/christmas-banner.png" alt="Upside Down Christmas"></a>
	<a href="/3dm-conference"><img src="/img/3dm-banner-1.png?1" alt="Discipleship + Missions Conference"></a>
	<a href="/i-am-crossroads"><img src="/img/iAmBanner.png" alt="I Am CrossRoads"></a>-->
	<!--<a href="/moms"><img src="/img/moms-banner.png" alt="CrossRoads Moms Group"></a>-->
	<a href="/learn/sermons"><img src="/img/podcast-banner.png" alt="CrossRoads Sermons"></a>
</div>
<h2 id="subheading">
	A vibrant church in Norfolk Virginia, CrossRoads is dedicated to furthering the Gospel of 
	Jesus Christ through a commitment to the <a href="/learn/#/mission">campus, community and world</a>. 
	We are comprised of people who want to see the city transformed by the love of God.  We believe that every journey has CrossRoads and that God has a plan for every life. Our focus isn't building a large organization, but seeing people become fully devoted followers of Christ.
</h2>
<!--<div class="jobPosting" id="job-posting-3">
	<h3>Administrative Assistant</h3>
	CrossRoads Church is currently looking to hire an Administrative Assistant who will be the hub of communication and daily operations for the church.  <strong>Applications are due by June 5th.</strong><br><br> 
	<a href="/administrative-assistant"><span>&#xf002;</span> View more details &gt;</a><span> &nbsp; &nbsp; &nbsp; </span>
	<a href="/docs/AdministrativeAssistantJobDescription.pdf" target="_blank"><span>&#xf019;</span> Download the job description &gt;</a>
</div>-->
<div class="subcontent">
	<div class="blue">
		<div class="bar"></div>
		<h3>Learn</h3>
		<p>
			Are you looking for a different church experience?  CrossRoads is an inviting, yet 
			challenging church community that is unlike any other.  Find out what makes us different.<br><br>
			<a href="/learn">Learn <small>&gt;</small></a>
		</p>
	</div>
	<div class="green">
		<div class="bar"></div>
		<h3>Connect</h3>
		<p>
			Having a community of believers that you can journey through life with
			is extremely important.  Find out what it means to be a part of the CrossRoads community!<br><br>
			<a href="/connect">Connect <small>&gt;</small></a>
		</p>
	</div>
	<div class="orange">
		<div class="bar"></div>
		<h3>Find</h3>
		<p>
			CrossRoads is located in the Larchmont area of Norfolk, VA.  If you are interested
			in coming to any of our services or events, than you can use the link below for driving directions.<br><br>
			<a href="/find">Find <small>&gt;</small></a>
		</p>
	</div>
</div>
<div id="quarter-content">
	<a href="/women" style="margin-top: 25px;">
		<img src="/img/CRwomen_logo_web_sm.gif" alt="Women's Ministry">
		<!--<span style="color: #c60;">Women's Ministry</span>-->
	</a>
	<!--<a href="/moms">
		<img src="/img/moms-200.png" alt="Moms Group">
		<span style="color: #8d4746;">Moms Group</span>
	</a>-->
	<a href="https://crcnorfolk.ccbchurch.com/login.php" target="_blank" class="split">
		<img src="/img/ccb-200.png" alt="Church Community Builder > Log In"><br>
		<span style="color: #2d2826;">CCB Log In</span>
	</a>
	<a href="https://itunes.apple.com/us/podcast/crossroads-church/id374524089?mt=2" class="split-next" target="_blank">
		<img src="/img/sermon-200.png" alt="Listen to Sermons">
		<span style="color: #524335;">Sermons Online</span>
	</a>
</div>