<img src="/img/logo.png" alt="CrossRoads Church Norfolk" id="home-logo">
<div id="banners">
	<% _.each(banners, function(banner) { %>
		<a href="<%= banner.url %>" <% if (banner.url.indexOf('http') !== -1) { %>target="_blank"<% } %>><img src="<%= banner.img %>" alt="Homepage Banner"></a>
	<% }) %>
</div>
<h2 id="subheading">
	A vibrant church in Norfolk Virginia, CrossRoads is dedicated to furthering the Gospel of 
	Jesus Christ through a commitment to the <a href="/learn/mission">campus, community and world</a>. 
	We are comprised of people who want to see the city transformed by the love of God.  We believe that every journey has CrossRoads and that God has a plan for every life. Our focus isn't building a large organization, but seeing people become fully devoted followers of Christ.
</h2>
<!--<div class="jobPosting" id="job-posting-2">
	<img src="/img/missions-offering.png" alt="Japan Missions Offering" style="width: 100%; margin: 0 auto; max-width: 750px; border: 0; margin-bottom: 15px;">
	<h3>Japan Missions Trip</h3>
	<p style="font-size: 90%;">CrossRoads is partnering with Peninsula Community Church to send a team to Japan to help local missionaries (Rob and Yoko Taylor) host an English Camp and Vacation Bible School for elementary school students. The dates of the trip are July 26 to August 8, 2016.  There will be an opportunity to give to the Japan Missions offering during both  services on Sunday June 26th.  Please prayerfully consider making a financial contribution.</p>
	<a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=84" target="_blank"><span>&#xf0ac;</span>&nbsp; Support our World Mission's Trip to Japan &gt;</a>
</div>-->
<!--<div class="jobPosting" id="job-posting-3">
	<h3>Summer Intern</h3>
	CrossRoads Church is currently looking to hire a Summer Intern who has interest in full time ministry and would like to gain "hands on" experience in our church.<br><br> 
	<a href="/docs/CRCInternDescription.pdf" target="_blank"><span>&#xf019;</span>&nbsp; Download the job description &gt;</a>
</div>-->
<div id="living-stones">
	<a href="http://crclivingstones.com" target="_blank"><img src="/img/living-stones-banner.png" style="border: 0; width: 100%; max-width: 800px;"></a>
</div>
<div class="subcontent">
	<div class="blue">
		<div class="bar"></div>
		<h3>Learn</h3>
		<p>
			Are you looking for a different church experience?  CrossRoads is an inviting, yet 
			challenging church community that is unlike any other.  Find out what makes us different.<br><br>
			<a href="/learn">Learn <small>&gt;</small></a>
		</p>
	</div>
	<div class="green">
		<div class="bar"></div>
		<h3>Connect</h3>
		<p>
			Having a community of believers that you can journey through life with
			is extremely important.  Find out what it means to be a part of the CrossRoads community!<br><br>
			<a href="/connect">Connect <small>&gt;</small></a>
		</p>
	</div>
	<div class="orange">
		<div class="bar"></div>
		<h3>Find</h3>
		<p>
			CrossRoads is located in the Larchmont area of Norfolk, VA.  If you are interested
			in coming to any of our services or events, than you can use the link below for driving directions.<br><br>
			<a href="/find">Find <small>&gt;</small></a>
		</p>
	</div>
</div>
<div id="quarter-content">
	<a href="/women" style="margin-top: 25px;">
		<img src="/img/CRwomen_logo_web_sm.gif" alt="Women's Ministry">
		<!--<span style="color: #c60;">Women's Ministry</span>-->
	</a>
	<!--<a href="/moms">
		<img src="/img/moms-200.png" alt="Moms Group">
		<span style="color: #8d4746;">Moms Group</span>
	</a>-->
	<a href="https://crcnorfolk.ccbchurch.com/login.php" target="_blank" class="split">
		<img src="/img/ccb-200.png" alt="Church Community Builder > Log In"><br>
		<span style="color: #2d2826;">CCB Log In</span>
	</a>
	<a href="https://itunes.apple.com/us/podcast/crossroads-church/id374524089?mt=2" class="split-next" target="_blank">
		<img src="/img/sermon-200.png" alt="Listen to Sermons">
		<span style="color: #524335;">Sermons Online</span>
	</a>
</div>
