<a href="/" id="logo-mobile"><img src="/img/logo-blue-small.png" alt="CrossRoads Church Norfolk"></a>
<section id="iamcrc">
    <p><img src="/img/iAmBanner.png" alt="I Am CrossRoads" style="border: 0 !important; width: 300px;"></p>
    <h2>Series Promo Video</h2>
    <p>CrossRoads is doing a new sermon series talking about the church.  Check out the video below to preview the series.  Continue to <strong>check back with us every week</strong> for additional information.</p>
</section>
<section class="alternate">
    <h2>Week 1</h2>
    <p><i>February 2, 2014</i></p>
    <p>The scripture for this week comes from <strong>Ephesians 1</strong>.  You can read this now on BibleGateway by <a href="http://www.biblegateway.com/passage/?search=Ephesians%201" target="_blank">clicking here</a>.</p>
    <p class="clearfix"><a href="/docs/week1-study-guide.pdf" target="_blank" class="icon24 studyGuide">Download Study Guide</a></p>
    <p class="clearfix"><a href="https://www.dropbox.com/s/ogxn2z7w5dr58i1/Interview%20one%20try%202.mp4" target="_blank" class="icon24 video">Watch Testimony</a></p>
</section>
<section>
    <h2>Week 2</h2>
    <p><i>February 9, 2014</i></p>
    <p>The scripture for this week comes from <strong>Ephesians 2</strong>.  You can read this now on BibleGateway by <a href="http://www.biblegateway.com/passage/?search=Ephesians%202" target="_blank">clicking here</a>.</p>
    <p class="clearfix"><a href="/docs/week2-sermon-notes.pdf" target="_blank" class="icon24 sermonNotes">Download Sermon Notes</a></p>
    <p class="clearfix"><a href="/docs/week2-study-guide.pdf" target="_blank" class="icon24 studyGuide">Download Study Guide</a></p>
    <p class="clearfix"><a href="https://www.dropbox.com/s/tp2mqmjcb9ykw12/Interview%20three%20try%201.mp4" target="_blank" class="icon24 video">Watch Testimony</a></p>
</section>
<section class="alternate">
    <h2>Week 3</h2>
    <p><i>February 16, 2014</i></p>
    <p>The scripture for this week comes from <strong>Ephesians 3</strong>.  You can read this now on BibleGateway by <a href="http://www.biblegateway.com/passage/?search=Ephesians%203" target="_blank">clicking here</a>.</p>
    <p class="clearfix"><a href="/docs/week3-sermon-notes.pdf" target="_blank" class="icon24 sermonNotes">Download Sermon Notes</a></p>
    <p class="clearfix"><a href="/docs/week3-study-guide.pdf" target="_blank" class="icon24 studyGuide">Download Study Guide</a></p>
    <p class="clearfix"><a href="https://www.dropbox.com/s/sle6wqxpcrpf559/Interview%205%20try%201.mp4" target="_blank" class="icon24 video">Watch Testimony</a></p>
</section>