<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
	<img src="/img/imperfect-conference-banner.png" alt="Imperfect Conference 2016" style="width: 100%; max-width: 400px; border: 0; margin-bottom: 15px;">
	<h2>Imperfect Conference 2016</h2>
	<p>
		Men's Conference on <strong>February 20th from 8:30 AM &mdash; 12:15 PM</strong> featuring Ken Watson and Ben Watson. Ken is a native of Norfolk, VA, where he graduated form Lake Taylor High School. Ken is now the Senior Pastor at Rock Hill Bible Fellowship Church in Rock Hill. Ben is a tight end for the New Orleans Saints, a writer, and speaker. His first book, Under Our Skin, has just been released. This conference will be about what it means to be a man in today's society. This will be a great time of fellowship! <strong>Breakfast is included</strong>. 
	</p>
	<p>&nbsp;</p>
	<h3>COST</h3>
	<p>
		$10 for youth (18 and under)<br>
		$15 for students (college age: 18-25)<br>
		$20 for adults
	</p>
	<p>&nbsp;</p>
	<h3>REGISTRATION</h3>
	<p>
		Use the following link to register for this conference:  <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=76" target="_blank">https://crcnorfolk.ccbchurch.com/form_response.php?id=76</a>
	</p>
</section>