<a href="/" id="logo-mobile"><img src="/img/logo-blue-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <h2>CrossRoads Chuch in the News</h2>
    <p>We want to highlight times when the local community has recognized what God has been doing through CrossRoads Church.  Below you will find articles and videos highlighting a few of the amazing things that are going on in the life of our church.</p>
</section>
<section class="alternate">
    <p class="clearfix">
        <a href="http://www.13newsnow.com/story/news/local/making-your-mark/2015/01/12/making-your-mark-free-car-a-divine-surprise/21644787/" target="_blank"><img src="http://www.gannett-cdn.com/-mm-/99aaa8495cc95e2e02f3d5eaea452599a8b6344c/c=41-0-412-279&r=x404&c=534x401/local/-/media/2015/01/12/WVEC/WVEC/635566725775293887-regina-jordan-crossing-guard.jpg" alt="Regina Jordan" style="margin: 0 15px 15px 0; float: left; width: 150px;"></a>
        <a href="http://www.13newsnow.com/story/news/local/making-your-mark/2015/01/12/making-your-mark-free-car-a-divine-surprise/21644787/" target="_blank" style="color: #48413e;"><strong style="font-size: 125%;">Making Your Mark: Free Car! A divine surprise</strong></a><br><br>
        Crossroads Church in Norfolk salutes a crossing guard who's making her mark in the Larchmont community of Norfolk with a surprise: a new van to replace the one that's falling apart. Watch the video and read the article on <a href="http://www.13newsnow.com/story/news/local/making-your-mark/2015/01/12/making-your-mark-free-car-a-divine-surprise/21644787/" target="_blank">13newsnow.com</a>.
    </p>
</section>