<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <img src="/img/i-still-do.png" alt="I Still Do Marriage Conference" style="width: 100%; max-width: 388px; border: 0;">
    <br><br>
    <h2>You are invited!</h2>
    <table id="moms-info-table">
        <tr>
            <td><strong>When:</strong></td>
            <td>October 4th from 9am - 5pm</td>
        </tr>
        <tr>
            <td><strong>Where:</strong></td>
            <td>Crossroads Church</td>
        </tr>
        <tr>
            <td><strong>Cost:</strong></td>
            <td>$30.00 (see below for details)</td>
        </tr>
        <tr>
            <td><strong>Registration:</strong> &nbsp;</td>
            <td><a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=44" target="_blank" style="text-shadow: 0 0 1px #aaa;">Click here to register</a></td>
        </tr>
    </table>
    <p>Please join us for Family Life's: I Still Do one day marriage conference. This is a 9am - 5pm event intended for those who are newlyweds as well as seasoned couples. $30 covers the cost of the event, lunch and event materials. <strong>Limited childcare is available at $25 per child ($50 max per family)</strong>. Reservations for childcare but be received by Monday, 9/15. Please email Matt or Jess Sechrist: (<a href="mailto:switchfrenzy5@gmail.com" style="text-shadow: 0 0 1px #aaa;">switchfrenzy5@gmail.com</a> or <a href="mailto:jessmmm@gmail.com" style="text-shadow: 0 0 1px #aaa;">jessmmm@gmail.com</a>).</p>
    <p>Still on the fence?  Watch <a href="https://www.youtube.com/watch?v=69a1EvP8QYg" target="_blank" style="text-shadow: 0 0 1px #aaa;">the promotional video</a> for the I Still Do conference!</p>
</section>