<section style="padding: 25px; padding-top: 0;">
    <img src="/img/justice-banner.png" alt="Justice Sunday" style="width:100%; max-width: 524px; border: 0;">
</section>
<section>
    <h2>IJM Luncheon 2015</h2>
    <p>
        The Bible says God is a God of justice and hates injustice. On Sunday, November 8th, we will explore God's heart towards injustice and how as followers of Jesus we can represent him through out lives in the world we live in. We will have someone from International Justice Mission speaking and sharing about how God is using Christians to bring freedom, hope, and restoration to those who are enslaved in human trafficking, slavery, and other forms of injustice. After the 2nd service there will be a luncheon (catered by Panera) where more information will be presented as well as an opportunity for people to ask questions.
    </p>

    <p>
        <i>*NOTE*</i> there is a $6 charge for lunch. If you pre-register you get the special deal of $6, if you do not pre-register it will be $10 at the door. If you do not want lunch you can still attend and you do not need to fill out this form. <strong>Pre-registrations ends on Friday Nov. 6th. There are limited spots.</strong> Boxed Lunches come with a sandwich, a salad, a bag of chips, and a cookie. Drinks are provided by CrossRoads.
    </p>

    <p>
        <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=68" target="_blank">Register on CCB</a> for the Luncheon.
    </p>
</section>