<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <img src="/img/journeyers-logo.png?1" style="width:100%; max-width: 300px; border: 0;" alt="Journeyers">
    <h2>Journeyers</h2>

    <p>&nbsp;</p>

    <h3>Sunday Morning Classes</h3>
    <table class="kidsTable">
        <tr>
            <td>
                <strong>9AM SERVICE</strong><br>
                Infants-Ones (Crawlers)<br>
                Ones (Walkers)<br>
                Twos<br>
                Preschool (3s &amp; 4s)<br>
                Kindergarten-2nd Grade<br>
                3rd-5th Grade
            </td>
            <td>
                <strong>11AM SERVICE</strong><br>
                Infants-Ones<br>
                Twos &amp; Threes<br>
                Prek4-1st Grade
            </td>
        </tr>
    </table>
</section>
<section class="alternate">
    <h3>Mission</h3>
    <p>Our mission is for children to become fully devoted followers of Christ.</p>
    <p>&nbsp;</p>
    <h3>Vision</h3>
    <p>For children to <strong>KNOW</strong>, <strong>GROW</strong> &amp; <strong>SOW</strong> &mdash; <strong>KNOW</strong> God, <strong>GROW</strong> in friendships, and <strong>SOW</strong> into the lives of others</p>
    <p>&nbsp;</p>
    <h3>Values</h3>
    <ul>
        <li>Meet children at their level of development.</li>
        <li>Create a safe, joyful and nurturing environment.</li>
        <li>Teach children the truth of God’s word and the joy of the gospel.</li>
        <li>Partner with parents in order to help build faith and character in their sons and daughters.</li>
    </ul>
</section>
<section>
    <h3>Curriculum</h3>
    <p>Faithweaver Now is a quarterly, age-graded curriculum for infant through adults. The three-year scope & sequence covers the bible, from Genesis to Revelation. Each quarter goes through 13 sequential Bible events so families get a snapshot of the Bible timeline.</p>
    <p>With this curriculum, family members explore the same bible passage in age-appropriate classes so each week the same Bible truth is fresh on everyone’s heart and mind. Families grow stronger in their faith together.</p>
</section>
<section class="alternate">
    <h3>Safety</h3>
    <p>We believe that it is of the utmost importance that our children are nurtured in a safe and responsible environment.</p> 
    <ul>
        <li>Each volunteer in our ministry is required to complete a background questionnaire and check.</li>
        <li>Each volunteer/staff is required to read and agree to follow the stipulations in our comprehensive training manual regarding Children’s ministry Policies and Procedures.</li>
        <li>Each volunteer/staff is required to do a basic training on Children’s safety via protectmyministry.com.</li>
        <li>There is a Two-Adult rule in place for all classrooms. This means there should always be two adults, at least one of whom is a woman.</li>
        <li>Doors leading outside are shut and locked 20 minutes into service. Children’s wing door is shut and door leading to the cafe is shut.</li>
        <li>Security tags are used for pickup. Parents must show their security tag in order to pick up their child(ren)</li>
        <li>Children’s director is CPR and First Aid trained</li>
    </ul>
</section>
<section>
    <h3>Volunteer</h3>
    <p>If your child is using the Children’s ministry and your family has been attending Crossroads for at least three months, we ask that at least one member of your family volunteer in a classroom.  There are three ways you can serve:</p>
    <p>
        <strong>LEAD TEACHER</strong><br>
        Serve for an entire month and then off three months. You will be responsible for reading and preparing the lesson before Sunday morning
    </p>
    <p>
        <strong>ASSISTANT TEACHER</strong><br>
        Serve as an aid to the lead teacher. You are expected to serve once a month.
    </p>
    <p>
        <strong>BUDDY</strong><br>
        Pair up with a child that has special needs. This position serves once a month.
    </p>
    <p>
        <strong>HELPING HAND</strong><br>
        Serve as an assistant during children’s check-in and check-out. During service you will attend to a classroom that needs additional help. You are expected to serve once a month
    </p>
</section>