<a href="/" id="logo-mobile"><img src="/img/logo-blue-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
	<img src="/img/membership-class-banner.png" alt="Membership Class" style="width: 100%; max-width: 400px; border: 0;">
	<br><br>
    <h2>Upcoming Membership Class</h2>
	<p>If you are interested in becoming a member here at CrossRoads you must attend the 1st and 2nd sessions of a membership class.  Please register in advance by <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=80" target="_blank"><strong>clicking here</strong></a>. Childcare is provided for all sessions. The sessions are offered on the following dates:</p>
	<ul>
		<li>March 13th @ 11 AM during 2nd service - 1st session</li>
		<li>March 16th @ 7 PM - 1st &amp; 2nd session </li>
		<li>March 20th @ 11 AM during 2nd service - 2nd session</li>
	</ul>
</section>