<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <img src="/img/mercy-justice-banner.png" alt="Mercy and Justice" style="width: 100%; max-width: 500px; border: 0;">
    <br><br>
    <h2>Mercy &amp; Justice Forum: A Call to Prayer </h2>
    <p>Join us on  June 9th from 7 - 8:30 PM for a time of discussion and prayer about God’s heart for mercy and justice and how CrossRoads can be a part of that in the Hampton Roads area. Contact Hannah Rader (<a href="mailto:hannah@crossroadsnorfolk.com">hannah@crossroadsnorfolk.com</a>) for more info.</p>
</section>