<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
	<img src="/img/moms-header.png" alt="CrossRoads Moms Group" id="moms-header">
	<h2>You are invited!</h2>
	<table id="moms-info-table">
		<tr>
			<td><strong>Who:</strong></td>
			<td>Moms of children 0-10 years old</td>
		</tr>
		<tr>
			<td><strong>When:</strong></td>
			<td>9:30 - 11:30am<br>2nd &amp; 4th Wednesdays of the month during the school year</td>
		</tr>
		<tr>
			<td><strong>Where:</strong> &nbsp;</td>
			<td>Crossroads Church, upstairs</td>
		</tr>
		<tr>
			<td><strong>Cost</strong></td>
			<td>$15.00 *</td>
		</tr>
	</table>
	<p style="margin-top: 0px;"><small>* If this registration fee poses a financial burden, please register without. We want you there regardless!</small></p>
	<p><strong>Come join us twice a month for coffee, fun, and friendship</strong> with other women who understand the joys and challenges of being "mommy." This year we will be going through year 2 of <a href="http://www.momtomom.org/" target="_blank">Mom to Mom</a> by <a href="http://momtomom.org/blog/" target="_blank">Linda Anderson</a>. No homework necessary - just a good time of meaningful conversation with new friends.</p>
	<p>Crossroads Moms' Group meets from <strong>9:30AM to 11:30AM</strong> on the <strong>2nd and 4th Wednesday</strong>. Excellent childcare is provided in the church building. The new semester starts <strong>January 28th!</strong></p>
	<p>Please use our <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=42" target="_blank">online form</a> to register.  For more information, please contact Christianne Page at <a href="mailto:ccpage@gmail.com">ccpage@gmail.com</a>.</p>
	<p>&nbsp;</p>
	<h3>Mission Statement:</h3>
	<p>Moms' Connection is a gathering of mothers of young children for the threefold purpose of:<br>
	&nbsp;&nbsp; - Providing relationship building opportunities for moms and kids<br>
	&nbsp;&nbsp; - Providing support to moms in the areas of child-raising, marriage, and homemaking<br>
	&nbsp;&nbsp; - Providing encouragement for women to grow in their faith and relationship with Jesus Christ</p>
</section>