<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
	<img src="/img/moms-header.png" alt="CrossRoads Moms Group" id="moms-header">
	<h2>You are invited!</h2>
	<table id="moms-info-table">
		<tr>
			<td><strong>Who:</strong></td>
			<td>Moms of children 0-10 years old</td>
		</tr>
		<tr>
			<td><strong>When:</strong></td>
			<td>9:30 - 11:30am<br>2nd &amp; 4th Wednesdays</td>
		</tr>
		<tr>
			<td><strong>Where:</strong> &nbsp;</td>
			<td>Crossroads Church, upstairs in the Fellowship Hall</td>
		</tr>
		<tr>
			<td><strong>Cost</strong></td>
			<td>$30.00 *</td>
		</tr>
	</table>
	<p style="margin-top: 0px;"><small>* If this registration fee poses a financial burden, please register without. We want you there regardless!</small></p>
	<p><strong>Come join us every 2nd and 4th Wednesdays for coffee, fun, and friendship</strong> with other women who understand the joys and challenges of being "mommy." This spring we are starting Grace Based Parenting- An Atmosphere of Grace by Tim Kimmel. No homework necessary - just a good time of meaningful conversation with new friends.</p>
	<p>Crossroads Moms' Group meets from <strong>9:30AM to 11:30AM on the following Wednesdays for Spring 2016: 1/27, 2/10, 2/24, 3/9, 3/23, 4/13, 4/27, and 5/11. </strong>. Excellent childcare is provided in the church building.  The new semester starts <strong>January 27th!</strong></p>
	<p>Please use our <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=60" target="_blank">online form</a> to register.  For more information, please contact Ashley Lane at <a href="mailto:ashley@crossroadsnorfolk.com">ashley@corssroadsnorfoklk.com</a>.</p>
	<p>&nbsp;</p>
	<p>Moms Group exists to:<br>
	&nbsp;&nbsp; - Providing relationship building opportunities for moms and kids<br>
	&nbsp;&nbsp; - Providing support to moms in the areas of child-raising, marriage, and homemaking<br>
	&nbsp;&nbsp; - Providing encouragement for women to grow in their faith and relationship with Jesus Christ</p>
</section>
