<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <!--<img src="/img/camp-banner-small.png" alt="The Camp" style="width: 100%; max-width: 600px; border: 0;">-->
    <br><br>
    <h2>Spring Picnic</h2>
    <p>Come out for our Spring picnic on Sunday April 24th at Bluestone Park (behind the ODU Football stadium). The picnic will begin at 5 PM and we will eat at 5:30 PM. Bring a side or desert to share with everyone. The main dish of baked and fried chicken is provided. </p>
</section>