<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <h2>Starting Point</h2>
    <p>
        Starting Point is a class for people newer to CrossRoads Church to come and learn about us, discover how you can get plugged in, and ask any questions you have about the church. Child care can be provided upon request.
    </p>
    <p>
        Please use our <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=83" target="_blank">online form</a> to register.  For more information, please contact Clark Taylor at <a href="mailto:clark@crossroadsnorfolk.com">clark@crossroadsnorfolk.com</a>.
    </p>
    <p><a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=83" target="_blank">Click here to sign up for Starting Point!</a></p>
</section>