<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <img src="/img/swag-banner.png" alt="College SWAG" style="width: 100%; max-width: 500px; border: 0;">
    <br><br>
    <h2>College SWAG</h2>
    <p>SWAG is for college age students. It is a summer bible study and hang out. Below are the dates and events for the summer. </p>
    <table>
        <tr>
            <td>May 24th &nbsp;</td><td>Kick-Off Cook Out sat 7 PM</td>
        </tr>
        <tr>
            <td>May 31st &nbsp;</td><td>Bible Study at CrossRoads at 7 PM</td>
        </tr>
        <tr>
            <td>June 7th &nbsp;</td><td>Jungle golf (Putt Putt)- Meet at CrossRoads at 7 PM then drive to VA beach - 302 23rd St, Virginia Beach, VA 23451</td>
        </tr>
        <tr>
            <td>June 14th &nbsp;</td><td>Bible Study at CrossRoads at 7 PM</td>
        </tr>
        <tr>
            <td>June 21st &nbsp;</td><td>Tides game Game starts at 7 PM- Meet at CrossRoads at 6 PM. The cost is $12 per person. </td>
        </tr>
        <tr>
            <td>June 28th &nbsp;</td><td>Bible Study at CrossRoads at 7 PM</td>
        </tr>
        <tr>
            <td>July 5th &nbsp;</td><td>To be announced.</td>
        </tr>
        <tr>
            <td>July 12th &nbsp;</td><td>Bible Study at CrossRoads at 7 PM</td>
        </tr>
        <tr>
            <td>July 19th &nbsp;</td><td>Cornhole tournament at 7 PM at CrossRoads</td>
        </tr>
        <tr>
            <td>July 26th &nbsp;</td><td>Bible Study at CrossRoads at 7 PM</td>
        </tr>
        <tr>
            <td>August 2nd &nbsp;</td><td>To be announced.</td>
        </tr>
        <tr>
            <td>August 9th &nbsp;</td><td>Bible Study at CrossRoads at 7 PM</td>
        </tr>
        <tr>
            <td>August 16th &nbsp;</td><td>End of Summer Party at 7 PM</td>
        </tr>
    </table>
</section>