<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <img src="/img/camp-banner-small.png" alt="The Camp" style="width: 100%; max-width: 600px; border: 0;">
    <br><br>
    <h2>The Camp</h2>
    <p>TheCamp has become a major event in the life of our church, with volunteers serving, loving and caring for campers every Summer. Please watch the video to learn more (see below). It has spawned summer-long activities that have been proven to reduce the loss of learning that traditionally happens over the summer.</p>
    <p>By ourselves, CrossRoads Church doesn't have the resources to serve this expanding ministry with a high quality summer experience. In the future, we hope that more churches and civic organizations will help both monetarily and with volunteers. We hope that some of those groups will start Camps in other neighborhoods in the city.</p>
    <p>Dates of camp are <strong>June 27th - July 1st</strong></p>
    <p>An interest meeting will be held at 11 AM (during 2nd service) on May 1st &mdash; Come catch a vision for theCAMP 2016 and have an opportunity to ask questions.</p>
    <div>
        theCAMP training opportunities: 
        <ul>
            <li>June 19th 4 - 6PM at Trinity Presbyterian</li>
            <li>June 21st 6 - 8PM at P.B. Young Elementary School</li>
            <li>June 23rd 6 - 8PM at CrossRoads Church</li>
        </ul>
    </div>
</section>