<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <img src="/img/camp-banner-small.png" alt="The Camp" style="width: 100%; max-width: 600px; border: 0;">
    <br><br>
    <h2>The Camp</h2>
    <p>TheCamp has become a major event in the life of our church, with volunteers serving, loving and caring for campers every Summer. Please watch the video to learn more (see below). It has spawned summer-long activities that have been proven to reduce the loss of learning that traditionally happens over the summer.</p>
    <p>By ourselves, CrossRoads Church doesn't have the resources to serve this expanding ministry with a high quality summer experience. In the future, we hope that more churches and civic organizations will help both monetarily and with volunteers. We hope that some of those groups will start Camps in other neighborhoods in the city. <strong>The cost to serve one child is approximately $50 and to fund one volunteer is about $25.</strong></p>
    <p><a href="https://www.dropbox.com/s/nyaktkwiprpzu84/camp%202014_crossroads.mp4?dl=0" target="_blank"><span class="icon">&#xf03d;</span>&nbsp; Watch TheCamp Video &gt;</a></p>
    <p><a href="https://trinitynorfolk.wufoo.com/forms/thecamp-15-volunteer-registration/" target="_blank"><span class="icon">&#xf090;</span>&nbsp; Register as a Volunteer for TheCamp &gt;</a></p>
    <p><a href="https://trinitynorfolk.wufoo.com/forms/counselor-in-training-application-cit-2015/" target="_blank"><span class="icon">&#xf090;</span>&nbsp; Register as a Counselor for TheCamp &gt;</a></p>
    <p><a href="https://trinitynorfolk.wufoo.com/forms/thecamp-15-camper-registration/" target="_blank"><span class="icon">&#xf090;</span>&nbsp; Register a Child for TheCamp &gt;</a></p>
    <p><a href="http://trinitynorfolk.nextmeta.com/content.cfm?id=3132" target="_blank"><span class="icon">&#xf05a;</span>&nbsp; Learn more about TheCamp &gt;</a></p>
</section>