<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <img src="/img/camp-banner-small.png" alt="The Camp" style="width: 100%; max-width: 600px; border: 0;">
    <br><br>
    <h2>theCamp2016: June 27th - July 1st</h2>

    <p>Visit theCamp website to register: <a href="http://www.thecamp757.com" target="_blank">www.thecamp757.com</a></p>
 
    <p>TheCamp is a high quality sports, arts, and bible camp for a week at the beginning of each summer that takes place in the inner city of Norfolk.  It has become a major event in the life of CrossRoads Church - volunteers serving, loving and caring for campers.  This is a primary mercy and justice mission for the church and acts as “VBS” for our CrossRoads kids.  It has spawned summer-long activities that have proven to reduce the loss of learning that traditionally happens over the summer.</p>
     
    <p>By ourselves, CrossRoads Church doesn't have the resources to serve this expanding ministry.  We have partnered with Trinity Presbyterian, OV Church and several other local organizations to make theCamp a reality every summer.</p>
     
    <p>All volunteers are required to attend a 2 hour training prior to the week of theCamp.  Dates for this year are as follows:</p>
    
    <ul> 
        <li>June 19th 4 - 6PM at Trinity Presbyterian</li>
        <li>June 21st 6 - 8PM at P.B. Young Elementary School</li>
        <li>June 23rd 6 - 8PM at CrossRoads Church</li>
    </ul>
     
    <p>For more information, please contact Clark Taylor – <a href="mailto:clark@crossroadsnorfolk.com">clark@crossroadsnorfolk.com</a></p>
</section>