<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <img src="/img/3dm-banner-2.png?1" alt="Discipleship + Missions Conference" style="width: 100%; max-width: 500px;">
    <p>We are currently working on getting additional details about this conference on this page.</p>
    <p><a href="http://www.eventbrite.com/e/discipleship-and-mission-workshop-norfolk-va-area-tickets-12077061817" target="_blank" style="font-size: 120%; text-shadow: 0 0 1px #aaa;"><strong>Register Here!</strong></a></p>
</section>