<a href="/" id="logo-mobile"><img src="/img/logo-blue-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <h2>Discipleship &amp; Mission</h2>
    <p>Explore the dynamics of making disciples of Jesus who can join God in his mission.</p>
    <p>Discover the principles of going from having a ministry to leading a movement: reproducing disciples instead of just recruiting more volunteers, multiplying communities instead of just adding more people.</p>
    <p>A 3DM Discipleship + Mission workshop is a chance to taste and experience:</p>
    <ul>
        <li>Teaching that will help frame discipleship and mission in a new light</li>
        <li>Training with your team to help you apply principles contextually</li>
        <li>Effective vehicles for discipleship and mission, such as Huddles and Missional Communities</li>
        <li>What it's like to be part of a 3DM Learning Community (two-year journey of culture change)</li>
    </ul>
    <p>&nbsp;</p>
    <h4>Cost</h4>
    <p>The cost of the event is $39 per person. This covers lunch, workshop materials, speaker fees and content of the workshop. Attendees must pick up the cost of their accommodation and transportation.</p>
    <p>&nbsp;</p>
    <h4>Registration</h4>
    <p><a href="https://www.eventbrite.com/e/1-day-discipleship-mission-taster-norfolk-virginia-tickets-14975872237" target="_blank" style="text-shadow: 0 0 1px #aaa;"><strong>Click here</strong></a> to register for this conference.</p>
    <p>&nbsp;</p>
    <h4>Anticipated Schedule <small>We do our best to provide and follow an accurate schedule, but it is subject to change.</small></h4>
    <table>
        <tr>
            <td>9:00am</td>
            <td>Welcome &amp; Worship</td>
        </tr>
        <tr>
            <td>9:30am</td>
            <td>Teaching</td>
        </tr>
        <tr>
            <td>10:15am</td>
            <td>Q &amp; A</td>
        </tr>
        <tr>
            <td>10:45am &nbsp; </td>
            <td>Coffee Break</td>
        </tr>
        <tr>
            <td>11:00am</td>
            <td>Huddle</td>
        </tr>
        <tr>
            <td>12:15pm</td>
            <td>Lunch</td>
        </tr>
        <tr>
            <td>1:30pm</td>
            <td>Social Space</td>
        </tr>
        <tr>
            <td>2:15pm</td>
            <td>Team Processing Time</td>
        </tr>
        <tr>
            <td>3:00pm</td>
            <td>Break</td>
        </tr>
        <tr>
            <td>4:00pm</td>
            <td>Final Thoughts</td>
        </tr>
        <tr>
            <td>4:30pm</td>
            <td>Q &amp; A</td>
        </tr>
        <tr>
            <td>5:00pm</td>
            <td>Dismissal</td>
        </tr>
    </table>
    <p><a href="https://www.eventbrite.com/e/1-day-discipleship-mission-taster-norfolk-virginia-tickets-14975872237" target="_blank" style="font-size: 120%; text-shadow: 0 0 1px #aaa;"><strong>Register for this Conference!</strong></a></p>
</section>