<a href="/" id="logo-mobile"><img src="/img/logo-blue-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <h2>Discipleship &amp; Mission</h2>
    <p>
        If you interested in figuring out what intentional discipleship and missions looks like for your context (church, parachurch ministry, etc.), then please contact us about joining a learning community in partnership with 3DM.  Below is more information about the learning community.
    </p>
    <p>
        The two year Learning Community track entails a carefully orchestrated process which progresses from discipleship to mission. A learning community is a series of 4-day immersion experiences that incorporates main stage teaching with tactical training, expert coaching, and a chance to experience proven vehicles for discipleship and mission.At the conclusion of each immersion experience, you will leave with a detailed six-month plan to accomplish the things you believe God has called your community to do. Furthermore, the two-year track includes weekly coaching calls for senior leaders, as well as access to our content. You will truly have everything we know at your disposal.
    </p>
    <h4>The trajectory of the Learning Community track:</h4>
    <ul>
        <li>Immersion 1: Building a Discipling Culture</li>
        <li>Immersion 2: Multiplying Missional Leaders</li>
        <li>Immersion 3: Launching Missional Communities</li>
        <li>Immersion 4: Leading Kingdom Movements</li>
    </ul>
    <p>In addition to these immersion experiences, content and coaching calls, the senior leader of your team will be invited to the annual Senior Leader and Spouse’s Retreat. This is always one of the highlights of our year.</p>
    <p>&nbsp;</p>
    <h4>The two-year Learning Community track consists of:</h4>
    <ul>
        <li>Four (4) four-day immersions that occur every six months. At each immersion, your team creates (through consultation and coaching) a six-month plan to implement in your own community.</li>
        <li>Weekly coaching calls for the team leader between immersion experiences, with additional coaching available for an additional cost.</li>
        <li>Two (2) annual senior leader and spouse’s retreats.</li>
        <li>Access to all of our experience and resources.</li>
        <li>Continued access and participation once the process concludes through Communities of Practice and other interactions.</li>
    </ul>
    <p>&nbsp;</p>
    <h4>Cost of the two-year Learning Community track:</h4>
    <p>The cost of the Learning Community is based on the size of the team you choose to bring to each of the 4-day immersion experiences. The following options also reflect the number of weekly coaching huddle places available to the team.</p>
    <table class="learningCommTable">
        <tr>
            <td>
                Team of up to 3 people<br>
                1 in a Weekly Coaching Huddle<br>
                <strong>$330 per month ($3,960/year)</strong>
            </td>
            <td>
                Team of up to 5 people<br>
                2 in a Weekly Coaching Huddle<br>
                <strong>$550 per month ($6,600/year)</strong>
            </td>
            <td class="noBorder">
                Team of up to 7 people<br>
                3 in a Weekly Coaching Huddle<br>
                <strong>$770 per month ($9,240/year)</strong>
            </td>
        </tr>
    </table>
    <p>Payment can be made in either 24 monthly payments using our auto payment method – or – 2 annual payments due in months 1 and 13 of the 24 month process. (A discount equal to one month’s payment is offered for annual payments)</p>
    <p>Each church is responsible for their own travel, accommodation and evening meal costs. Wherever possible, 3DM looks to secure preferential rates with local hotels for participants (this information is always published on your communities event registration page if it has been possible to secure). 3DM will cover the costs of lunch, beverages, materials, etc.</p>
    
</section>