<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <img src="/img/tidewaterpark.png" alt="Tidewater Park" style="width: 100%; max-width: 150px; border: 0;">
    <br><br>
    <p>
        Crossroads Church partners with Tidewater Park Elementary and The Boys and Girls Club during the school year. We offer tutoring for the kids working on homework. This is also a place to build relationships and offer mentorship.
    </p>
    <p>&nbsp;</p>
    <h3>Register Now</h3>
    <p>Click here to register:  <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=117" target="_blank">https://crcnorfolk.ccbchurch.com/form_response.php?id=117</a></p>
    <p>&nbsp;</p>
    <p>For additional questions or information please contact Jenny Goodwin (<a href="mailto:nicole.kristol@gmail.com">nicole.kristol@gmail.com</a>).</p>
</section>
