<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <p>
        <a href="/docs/christmasFlier.pdf" target="_blank"><img src="/img/christmasFlier.png" alt="Upside Down Christmas Flier" style="width: 100%; max-width: 750px; border: 0;"></a>
    </p>
    <p>If you would like to participate in our Christmas 2014 initiative to bless others, please <strong><a href="https://crcnorfolk.ccbchurch.com/trx_submit.php?type=public_gift" target="_blank">click here</a></strong> to make a one time gift. &nbsp;This link will take you to our Church Community Builder donation form. &nbsp;Select <strong>Christmas 2014</strong> in the account drop down (the field next to "Gift Amount") in order that we may appropriately allocate your gift.</p>
    <p>Unable to read the flier that is shown above? &nbsp;Simply click on it and the full PDF version will open up.</p>
</section>