<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
    <h2>Volunteer Appreciation</h2>
    <p>
        Mark your calendar: <strong>Friday, Oct. 14th, at 7 PM</strong>. CrossRoads is hosting a night of fellowship, awards, and games for all volunteers! Dessert and coffee provided. Childcare is available upon advance registration. 
        <br><br>
        Click this link to register:  <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=120" target="_blank">https://crcnorfolk.ccbchurch.com/form_response.php?id=120</a>
    </p>
</section>