<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
	<img src="/img/crc-women.PNG" alt="CrossRoads Women" style="border: 0; width: 100%; max-width: 400px;">
	<p>&nbsp;</p>
	<h3>Women's Fall Activities:</h3>
	
	<p>&nbsp;</p>
	<h3>Monday Bible Study</h3>
	<p>
		Mondays from 6:30-8 pm, starting 9/12
		We’ll be studying the book of James using a study by Jen Wilkin. Contact Kristen Boden (<a href="mailto:kristin.boden@gmail.com">kristin.boden@gmail.com</a>) for location details and more information.

	</p>
	<p>&nbsp;</p>
	<h3>Wednesday Bible Study</h3>
	<p>
		1st &amp; 3rd Wednesdays from 9:30-11am, starting 9/21
		This semester we will be working our way through 2 Timothy using Beth Moore’s newest study, Entrusted. Childcare is provided with registration*. Cost is $30. Contact Christianne Page (<a href="mailto:ccpage@gmail.com">ccpage@gmail.com</a>) for more information.
		Click on this link to register: <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=107" target="_blank">https://crcnorfolk.ccbchurch.com/form_response.php?id=107</a>
	</p>
	<p>&nbsp;</p>
	<h3>Moms Group</h3>
	<p>
		2nd &amp; 4th Wednesdays from 9:30-11:30 am, starting 9/14
		Join us for coffee, fun, and friendship with other women who understand the joys and challenges of being “mommy.” This fall we are learning the powerful strategy of Loving Our Kids on Purpose. Childcare is provided with registration*. Cost is $30. Contact Ashley (<a href="mailto:ashley@crossroadsnorfolk.com">ashley@crossroadsnorfolk.com</a>) with questions. 
		Click on this link to register: <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=108" target="_blank">https://crcnorfolk.ccbchurch.com/form_response.php?id=108</a>
	</p>
	<p>&nbsp;</p>
	<h3>Living in Holland</h3>
	<p>
		4th Mondays from 7-8:45 pm, starting 9/26
		Moms of children with special needs are welcome to come find community and support. Casual atmosphere with discussion time stemming from the book Loving Samantha by Karen L. Jackson. RSVP childcare requests to Katie Moormann (<a href="mailto:kmoormann@gmail.com">kmoormann@gmail.com</a>)

	</p>
	<p>&nbsp;</p>
	<h3>Joy Through the Journey</h3>
	<p>
		This group is for women who are currently struggling with primary or secondary infertility. Our hope is to provide a safe place to share our struggles but also find joy through the journey together. This semester we’ll be reading Longing for a Child by Kathe Wunnenburg. Contact Brie Weaver (<a href="mailto:bmweaver84@yahoo.com">bmweaver84@yahoo.com</a>) for more information.

	</p>
	<p>&nbsp;</p>
	<h3>Military Wives Connection</h3>
	<p>
		2nd Wednesdays at 7:30 pm @ McCrillis Home
		Come join us for fellowship as we share the common vocation of being military wives. There will be times for bible study, socials, and some guest speakers. Contact Tori McCrillis (757-373-2585, <a href="mailto:mccrillis5@gmail.com">mccrillis5@gmail.com</a>) or Jennifer Beattie (<a href="mailto:jenandjonbeattie@yahoo.com">jenandjonbeattie@yahoo.com</a>).
	
	</p>
	<p>&nbsp;</p>
	<h3>HOPE</h3>
	<p>	
		HOPE Ministry is a support group for wives of spouses who have - in the past or present - struggled with a sexual addiction. We provide
		a safe place for women to openly discuss their families’ struggles through addiction and to find hope and healing. Contact Caton Taylor at <a href="mailto:caton@crossroadsnorfolk.com">caton@crossroadsnorfolk.com</a>.
	</p>
	<p>&nbsp;</p>
	<h3>SAVE THE DATE!</h3>
	<p>
		Our Christmas social this year will be held in the evening of Friday, December 2nd.
		
	</p>
	<p>&nbsp;</p>
	<h3>MORE QUESTIONS about Women’s Ministry at CrossRoads?</h3>
	<p>
		Feel free to contact Lauren Tremper at <a href="mailto:lauren@crossroadsnorfolk.com">lauren@crossroadsnorfolk.com</a>
	</p>	
		
</section>
