<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
	<img src="/img/crc-women.PNG" alt="CrossRoads Women" style="border: 0; width: 100%; max-width: 400px;">
	<p>&nbsp;</p>
	<h3>Morning Women’s Bible Study</h3>
	<p>
		This semester we will explore the concept of covenant and how it is key in understanding our relationship with God. We will be going through <strong>Covenant: God's Enduring Promise</strong> by Kay Arthur.<br>
		Meets every other Wednesday starting January 6th from 9:30 &mdash; 11:00 a.m. Childcare is provided.  Registration is $35 and includes the cost of the workbook.  Register at <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=71" target="_blank">https://crcnorfolk.ccbchurch.com/form_response.php?id=71</a>. Contact Christianne Page <a href="mailto:ccpage@gmail.com">ccpage@gmail.com</a> for more information.
	
	</p>
	<p>&nbsp;</p>
	<h3>Moms Group</h3>
	<p>
		Come join us for coffee, fun, and friendship with other women who understand the joys and challenges of being "mommy."
		Meets every other Wednesday starting 1/27. 9:30 &mdash; 11:30 a.m. Childcare is provided. Register at <a href="/moms">crcnorfolk.com/moms</a>. Contact Ashley Lane <a href="mailto:ashley@crossroadsnorfolk.com">ashley@crossroadsnorfolk.com</a> for more information.
	</p>
	<p>&nbsp;</p>
	<!--<h3>Military Wives Group</h3>
	<p>
		Wives of military members are welcome to join us for a study on worship in our lives called <strong>Satisfy My Thirsty Soul</strong> by Linda Dillow ($14 and can be purchased on Amazon).  We have gained a supportive community through sharing our unique experiences that we’ve gained through the military.
		Meets every other Wednesday starting 9/9. 7:00 &mdash; 8:30 p.m. Contact Kim Olson <a href="mailto:kim.olson@live.com">kim.olson@live.com</a> or Tori McCrillis <a href="mailto:mccrillis5@gmail.com">mccrillis5@gmail.com</a> for more information.
	</p>
	<p>&nbsp;</p>-->
	<h3>Living in Holland</h3>
	<p>
		Moms of children with special needs are welcome to come to find community and support.
		Meets the 4th Monday of the month starting 1/25. 7:00 &mdash; 8:30 p.m. Childcare provided with RSVP to Katie Moormann at <a href="mailto:kmoormann@gmail.com">kmoormann@gmail.com</a>.
	</p>
	<p>&nbsp;</p>
	<h3>HOPE Ministry</h3>
	<p>
		HOPE Ministry is a support group for wives of spouses who have- in the past or present- struggled with a sexual addiction. We provide a safe place for women to openly discuss their families' struggles through addiction and to find hope and healing.  We will be using the book <a href="http://www.amazon.com/Addictions-Banquet-Edward-T-Welch-ebook/dp/B0073M6A16" target="_blank">Addictions:a Banquet in the Grave</a> as a springboard for discussion.
		Contact Caton Taylor at <a href="mailto:caton@crossroadsnorfolk.com">caton@crossroadsnorfolk.com</a>.
	</p>
	<p>&nbsp;</p>
	<h3>Women's Monday Bible Study</h3>
	<p>
		Women's Monday Bible Study will be working through Jen Wilkin's <strong>Judges</strong>. We meet at 6:30PM - 8PM every Monday starting 1/25. 
		Contact Ali Hill (alleighch@yahoo.com) or Kristen Boden (kristin.boden@gmail.com) for more information.
	</p>
	<p>&nbsp;</p>
	<h3>Living Proof Live conference with Beth Moore</h3>
	<img src="/img/BethMooreConference.jpg" alt="Beth Moore Conference" style="border: 0; width: 100%; max-width: 200px; margin-top: 10px;">
	<p>
		Beth Moore is coming LIVE to the Ted Constant Center April 29th &mdash; 30th. To register <a href="http://www.lifeway.com/Event/Womens-Event-Living-Proof-Live-Norfolk-VA" target="_blank">click here</a>. Once you have registered, email Lauren Tremeper (<a href="mailto:lauren@crossroadsnorfolk.com">lauren@crossroadsnorfolk.com</a>) to let us know you've bought your tickets and would like to attend "with" CrossRoads.
	</p>
</section>
