<a href="/" id="logo-mobile"><img src="/img/logo-green-small.png" alt="CrossRoads Church Norfolk"></a>
<section>
	<img src="/img/crc-women.PNG" alt="CrossRoads Women" style="border: 0; width: 100%; max-width: 400px;">
	<p>&nbsp;</p>
	<h3>Women's Summer Events:</h3>
	<p>
	
	</p>
	<p>&nbsp;</p>
	<h3>Cupcakes & Coloring</h3>
	<p>
		June 15th at 7pm at CrossRoads
		Come out to eat treats and color from adult coloring books
		All supplies and food are provided
	</p>
	
	</p>
	<p>&nbsp;</p>-->
	<h3>Clothing Swap</h3>
	<p>
		July 20th at 7pm at CrossRoads
		Bring any and all women’s clothing, shoes and accessories to swap and shop.
	</p>
	<p>&nbsp;</p>
	<h3>Craft Night</h3>
	<p>
		August 17th, 6pm, The Mermaid Factory
		The cost for this event is $25. Click on this link to register: <a href="https://crcnorfolk.ccbchurch.com/form_response.php?id=100" target="_blank">https://crcnorfolk.ccbchurch.com/form_response.php?id=100</a></p>
	</p>
	<p>&nbsp;</p>
	<h3>Women's Monday Bible Study</h3>
	<p>
		Mondays from 6:30-8pm
		Hebrews by Jen Wilkin
		Contact Ali Hill (alleighch@yahoo.com) or Kristen Boden (kristin. boden@gmail.com) for more information.
	</p>
	<p>&nbsp;</p>
	<h3>Military Spouse Bible Study</h3>
	<p>
		July 6th- August 10th, Wednesdays from 7:30-9pm
		Tour of Duty: Preparing our Hearts for Deployment by Sara Horn 
		This study is geared towards military spouses, but all women are welcome.
		Contact Jen Beattie (jenandjonbeattie@yahoo.com) or Tori McCrillis (mccrillis5@gmail.com) for location details. 
	</p>
	<p>&nbsp;</p>
	<h3>Beach Days/Play Dates</h3>
	<p>	
		There will be weekly beach days (for any/all women and families) and playground dates (for moms with kids) throughout the summer. To get up to date information on either of these activities, please email Ashley Lane (ashley@crossroadsnorfolk.com) to be added to the GroupMe
conversations.

</section>
