html {}
	body {
		font-family: "Lucida Sans Unicode", "Lucida Grande", arial;
		font-size: 13px;
		background: #48413e;
		color: #48413e;
		margin: 0;
	}
	
	/* Home Page styling */
		body.home > header {
			border-top: 2px solid #e89c17;
			height: 50px;
			background: #ddd;
			background: -webkit-linear-gradient(#fff, #ddd);
			background: -moz-linear-gradient(#fff, #ddd);
			background: -o-linear-gradient(#fff, #ddd);
			background: -ms-linear-gradient(#fff, #ddd);
			background: linear-gradient(#fff, #ddd);
			overflow: hidden;
		}
			body.home #banner { display: none; }
				body.home > header > nav > a {
					display: block;
					float: left;
					text-decoration: none;
					color: #48413e;
					font-size: 125%;
					width: 13%;
					height: 50px;
					text-align: center;
					text-shadow: 1px 1px 1px #aaa;
				}
					body.home > header > nav > a:hover {
						background: #eee;
						background: -webkit-linear-gradient(#fef0d7, #ddd);
						background: -moz-linear-gradient(#f9ad28, #ddd);
						background: -o-linear-gradient(#f9ad28, #ddd);
						background: -ms-linear-gradient(#f9ad28, #ddd);
						background: linear-gradient(#fef0d7, #ddd);
					}
				body.home > header > nav > a.first { margin-left: 30%; }
					body.home > header > nav > a > span {
						display: block;
						margin: 7px 0;
						line-height: 36px;
						height: 36px;
						border-left: 1px solid #ccc;
						padding: 0 2%;
					}
					body.home > header > nav > a.first > span { border-left-width: 0; }
	
		body > div { 
			background: #fff;
			min-height: 500px;
			overflow: hidden;
		}
			body.home #logo { display: none; }
			#home-logo {
				display: block;
				margin: 25px auto;
				max-width: 400px;
				width: 50%;
				height: 45%;
			}
			#subheading {
				margin: 2% auto 5%;
				padding: 0 15px;
				font-weight: normal;
				font-size: 125%;
				text-align: justify;
				line-height: 26px;
				width: 75%;
			}
			.subcontent {
				width: 75%;
				margin: 0 auto;
			}
				.subcontent > div {
					width: 27%;
					float: left;
					margin-right: 9%;
					padding-left: 2px;
					text-align: justify;
				}
				.subcontent > div.orange { margin-right: 0; }
					.subcontent > div > .bar {
						position: relative;
						height: 12px;
						background: #48413e;
						border-left: 15px solid #ccc;
						overflow: hidden;
					}
						.bar > .animation {
							position: absolute;
							left: 0;
							top: 0;
							width: 0;
							height: 12px;
						}
						.subcontent > div a { font-size: 120%; }
						.subcontent > div.blue > .bar { border-left-color: #7ab6ca; }
						.subcontent > div.blue a { color: #7ab6ca; }
						.subcontent > div.green > .bar { border-left-color: #92b636; }
						.subcontent > div.green a { color: #92b636; }
						.subcontent > div.orange > .bar { border-left-color: #e89c17; }
					.subcontent > div > h3 {
						margin: 5px 0 15px 5px;
						font-size: 140%;
						text-transform: uppercase;
						font-weight: normal;
					}
					.subcontent > div > p {
						margin: 5px 0 10px 5px;
						line-height: 20px;
						font-size: 115%;
					}
		
			.clear {
				clear: both;
				height: 0;
				overflow: hidden;
			}
			
			body > div a {
				color: #d69015;
				text-decoration: none;
			}
				body > div a:hover { text-decoration: underline; }
				
			body.secondary h2 {
				margin: 5px 0;
				font-weight: normal;
				font-size: 150%;
				text-transform: uppercase;
			}
			body.secondary h3 {
				font-weight: normal;
				font-size: 115%;
				margin: 5px 0;
			}
			
			body > div > section {
				margin: 1%;
				padding: 3% 5%;
			}
				body > div > section.alternate { background: #e4dfdd; }
				
		/* Secondary Styles */
		body.secondary > header {
			position: relative;
			background: #fff;
			height: 160px;
		}
		body.learn > header { border-top: 2px solid #7ab6ca; }
		body.connect > header { border-top: 2px solid #92b636; }
		body.find > header { border-top: 2px solid #e89c17; }
			body.secondary #banner {
				height: 100px;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
			body.secondary > header > nav {
				position: absolute;
				right: 0;
				top: 100px;
				width: 360px;
			}
				body.secondary > header > nav > a {
					display: block;
					border-top: 12px solid #48413e;
					float: left;
					font-size: 115%;
					text-decoration: none;
					color: #48413e;
					width: 120px;
					height: 50px;
					line-height: 45px;
					text-align: center;
				}
					body.secondary > header > nav > a.active,
					body.secondary > header > nav > a:hover { 
						border-top-color: #7ab6ca;
						background: #fcfcfc;
					}
					body.secondary > header > nav > a.second.active,
					body.secondary > header > nav > a.second:hover { border-top-color: #92b636; }
					body.secondary > header > nav > a.third.active,
					body.secondary > header > nav > a.third:hover { border-top-color: #e89c17; }
			#logo {
				position: absolute;
				top: -8px;
				left: 3%;
			}
				#logo > img { max-width: 208px; }		
			
			body.secondary > div img {
				border: 5px solid #48413e;
			}
			body.secondary > div p { line-height: 20px; }
			body.secondary > div p.before-small { margin-bottom: 2px; }
			body.secondary > div p.small { 
				font-size: 85%;
				color: #665;
				margin: 0 0 25px;
			}
	
			
		footer {
			padding: 25px;
			color: #ccc;
		}
			footer > img { margin-bottom: 10px; }
			footer a {
				color: #ccc;
				text-decoration: none;
			}
				footer a:hover { text-decoration: underline; }
			footer > p {
				margin-bottom: 0px;
				font-size: 90%;
			}
			#copyright {
				color: #888;
				font-size: 80%;	
				margin-top: 50px;
			}
			footer ol {
				clear: right;
				list-style: none;
				margin: 0;
				padding: 0;
				color: #ccc;
			}
			#follow {
				float: right;
				margin-bottom: 15px;
				width: 465px;
			}
				#follow > h3 {
					text-transform: uppercase;
					font-weight: normal;
					margin: 0 25px 10px 0;
					color: #eee;
					height: 24px;
					line-height: 24px;
					float: left;
				}
				#follow > a {
					display: block;
					height: 24px;
					width: 24px;
					background: #666;
					float: left;
					margin-right: 15px;
					background-position: 0 0;
					background-repeat: no-repeat;
				}
				#follow > a#facebook { background-image: url(../img/facebook.png); }
				#follow > a#twitter { background-image: url(../img/twitter.png); }
				#follow > a#vimeo { background-image: url(../img/vimeo.png); }
				#follow > a#ccb { background-image: url(../img/ccb.png); }
					#follow > a:hover { background-position: 0 -24px; }
					#follow > a > span { display: none; }
			footer > ol { float: right; }
				footer > ol > li {
					float: left;
					margin-right: 55px;
					min-width: 100px;
				}
					footer > ol > li > a {
						color: #eee;
						font-size: 135%;
						display: block;
					}
						footer > ol ol {
							margin-top: 7px;
							line-height: 18px;
						}
							footer > ol > li li > a { float: none; }