@media screen and (min-width:1200px) {
	#menu-btn { display: none; }
	#menu {
        position: absolute;
        top: 10px;
        right: 0px;
        padding-right: 80px;
    }
        #menu > div {
            float: left;
            margin-right: 25px;
        }
        #menu div { padding: 10px;  }
            #menu a {
                display: block;
                height: 30px;
                line-height: 30px;
                text-decoration: none;
                color: #333;
                border-bottom: 2px solid #fff;
            }
            #menu a:hover { border-bottom-color: #e89c17;  }

            #menu > div > div {
                position: absolute;
                top: 45px;
                padding-right: 20px;
                background: #fff;
                box-shadow: 0 0 5px #aaa;
            }
                #menu > div > div > a { margin-bottom: 5px; }


            #menu div > div { display: none; }
            #menu div:hover > div { display: block; }
}

@media screen and (max-width: 1199px) {
	#menu-btn {
		position: absolute;
		top: 10px;
		right: 15px;
		display: block;
		border: 1px solid #555;
		color: #000;
		text-decoration: none;
		cursor: pointer;
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
	}
	#menu-btn:hover {
		color: #e89c17;
		border-color: #e89c17;
	}
		#menu-btn > .hamburger { display: inline; }
		#menu-btn > .closex { display: none; }
		#menu-btn.active > .hamburger { display: none; }
		#menu-btn.active > .closex { display: inline; }

	#menu-overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	#menu-overlay.active { display: block; }

	#menu-overlay {
		background: rgba(0, 0, 0, 0.5);
	}

	#menu {
		display: none;
		position: absolute;
		background: #fff;
		width: 250px;
		padding: 65px 25px 50px;
		top: 0;
		right: 0;
	}
	#menu.active { display: block; }
		#menu div {
			padding-left: 20px;
			margin-bottom: 20px;
		}

		#menu a {
			display: block;
			height: 30px;
			line-height: 30px;
			text-decoration: none;
			color: #333;
			border-bottom: 2px solid #fff;
			margin-bottom: 5px;
		}
		#menu a:hover {
			border-bottom-color: #e89c17;
		}

		#menu > div > a { font-weight: bold; }
}

/* Tablet */
@media screen and (max-width:800px) {
	body { font-size: 12px; }
	
	#follow, footer > ol { float: none; }
	#copyright { margin-top: 5px; }
	
	footer > a > img { margin-top: 35px; }
	#footer-right-clear { display: block; }

	#mapImg > img { width: 75%; }
}


/* Smaller Tablet */
@media screen and (max-width:700px) {
	.subcontent > div {
		text-align: left;
		margin-right: 8%;
	}
	.subcontent > div.orange { margin-right: 0; }
	
	#mapImg {
		float: none;
		margin: 25px 0;
	}
		#mapImg > img {
			width: 95%;
			max-width: 410px;
		}
}

@media screen and (max-width:500px) {
	#living-stones { padding-top: 30px;  }
}


/* Phone */
@media screen and (max-width:481px) {
	body { font-size: 11px; }
	
		#follow, 
		footer > a#crc { display: none; }
		
		.subcontent > div {
			width: auto;
			float: none;
			margin: 45px 0 0;
		}
		
		.subcontent > div.orange { margin-bottom: 0; }

		#sermon-videos-iframe { display: none; }
		#sermon-videos-html { display: block; }

		div.contacts {
			margin-right: 0;
		}
		div.contacts > img {
			float: none;
			margin-right: 0;
		}
		div.contacts > div > strong { margin-bottom: 5px; }
	
	footer { padding: 10px 0; }
		footer > p#copyright { text-align: center; margin-top: 15px; }
		footer a {
			display: block;
			border-bottom: 2px solid #888;
			height: 45px;
			line-height: 45px;
			font-weight: bold;
			font-size: 135%;
			padding: 0 15px;
		}
}