/* Smaller browser screen */
@media screen and (max-width: 1000px) {
	#home-logo { display: block; }
	#banners { display: none; }
}

/* Tablet */
@media screen and (max-width:800px) {
	body { font-size: 12px; }
	
	body.home > header > nav > a { width: 18% !important; }
	body.home > header > nav > a.first { margin-left: 24%; }

	#subheading { width: 85%; }
	.subcontent { width: 90%; }
	.jobPosting { width: auto; }
	
	#follow, footer > ol { float: none; }
	#copyright { margin-top: 5px; }
	
	footer > a > img { margin-top: 35px; }
	#footer-right-clear { display: block; }

	#mapImg > img { width: 75%; }
}


/* Smaller Tablet */
@media screen and (max-width:700px) {
	body.home > header > nav > a { width: 21% !important; }
	body.home > header > nav > a.first { margin-left: 20%; }

	.subcontent > div {
		text-align: left;
		margin-right: 8%;
	}
	.subcontent > div.orange { margin-right: 0; }
	
	#mapImg {
		float: none;
		margin: 25px 0;
	}
		#mapImg > img {
			width: 95%;
			max-width: 410px;
		}
}

@media screen and (max-width:500px) {
	#living-stones { padding-top: 30px;  }
}


/* Phone */
@media screen and (max-width:481px) {
	body { font-size: 11px; }
	
	body.secondary > div { padding-top: 0; }
	body.secondary > div.importantUpdate { padding-top: 0; }
		body.secondary > div img { border-width: 1px; }
	
		header,
		#follow, 
		footer > a#crc { display: none; }
		
		#logo-mobile { display: block; }
		
		.subcontent > div {
			width: auto;
			float: none;
			margin: 45px 0 0;
		}
		
		.subcontent > div.orange { margin-bottom: 0; }

		#sermon-videos-iframe { display: none; }
		#sermon-videos-html { display: block; }

		div.contacts {
			margin-right: 0;
		}
		div.contacts > img {
			float: none;
			margin-right: 0;
		}
		div.contacts > div > strong { margin-bottom: 5px; }
	
	footer { padding: 10px 0; }
		footer > p#copyright { text-align: center; margin-top: 15px; }
		footer > ol { float: none; }
			footer > ol ol { margin: 0; }
			footer > ol > li {
				float: none;
				margin-right: 0;
			}
		footer a {
			display: block;
			border-bottom: 2px solid #888;
			height: 45px;
			line-height: 45px;
			font-weight: bold;
			font-size: 135%;
			padding: 0 15px;
		}
}